/*/////////////
/// Global /////
/////////////*/

html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    

body {
      height: 100vh;
      margin-left: 10%;
      margin-right: 10%;
}

/* //////////////////
/// Top of page ////
///////////////////*/

.top  {
      
}

h1 {
       
}
.info {
      background-color: rgb(24, 56, 56);
      
      width: 400px;
}

.ratings {
      width: 500px;
      
}

.ratecard {
      width: 400px;
      height: 70px;
      background-color: hsl(300, 24%, 96%);
      border-radius: 10px;
}

.rating-text {
      color:hsl(300, 43%, 22%);
}

/* //////////////////
/// Bottom of page ////
///////////////////*/
.bottom {
      justify-content: space-between;
}

/*//////////////////////////
///////Card styling////////
/////////////////////////*/

.testi-card {
      background-color: hsl(300, 43%, 22%);
      height: 250px;
      width: 400px;
      border-radius: 10px;
      padding: 2px;
}

.testimonial-photo {
      height: 60px;
      width: 60px;
      border-radius: 50px;
}
.testimonial-name {
      color: hsl(0, 0%, 100%);
}

.testimonial-verified {
      color: hsl(333, 80%, 67%);
}

.testi-words {
      color: hsl(0, 0%, 100%);
      text-align: left;
      letter-spacing: 1px;
      line-height: 20px;
}

/* //////////////////
/// footer Stuff ////
///////////////////*/

.attribution {
      font-size: 11px;
      text-align: center;
}

.attribution a {
      color: hsl(228, 45%, 44%);
}
